.navbar{
    padding-top:5px;
    padding-bottom: 5px;
}

span{
    color: white;
}

.navbar-nav > li > a:hover > span{
    color:#FFCCD6;
}

.navbar-nav > li > a.active:hover > span{
    color: black;
}

li > a.active{
    background-color: #FFCCD6;
    border-radius: 5px;
}

li > a.active > span{
    color: black;
}
