<div class="container" style="align-items: center;">
    <h2 class="description"> Movie Roulette: Random Movie Generator</h2>
    <p class="description">To generate a random movie simply change the search parameters to your desired taste in movie and hit generate. 
        Note: Language is defaulted to English and Watch Region is defaulted to the United States unless otherwise stated.</p>
    <!-- ##### Search Parms Form ##### -->
    <form [formGroup]="paramsForm" (ngSubmit)="getMovie()" novalidate> 
        <div class="form-group row">
            <!-- <label for="email" class="col-md-4 col-form-label text-md-right">Genres</label> -->
            <div class="col-md-4">
                <select id="inputGenre" class="custom-select form-select" (change)="changeGenre()" formControlName="genre">
                    <option value="">Choose a Genre</option>
                    <option *ngFor="let g of genres | keyvalue" [ngValue]="g.key">{{g.value}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="inputlanguage" class="custom-select form-select" (change)="changeLanguage()" formControlName="language">
                    <option value="">Choose a Language</option>
                    <option *ngFor="let l of languages | keyvalue" [ngValue]="l.value">{{l.key}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="inputRating" class="custom-select form-select" (change)="changeRating()" formControlName="rating">
                    <option value="">Rating greater than</option>
                    <option *ngFor="let r of ratings" [ngValue]="r">{{r}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <!-- <label for="email" class="col-md-4 col-form-label text-md-right">Genres</label> -->
            <div class="col-md-4">
                <select id="inputprovider" class="custom-select form-select" (change)="changeAvailable()" formControlName="available">
                    <option value="">Available On</option>
                    <option *ngFor="let p of providers | keyvalue" [ngValue]="p.key">{{p.value.provider_name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="inputregion" class="custom-select form-select" (change)="changeRegion()" formControlName="region">
                    <option value="">Watch Region</option>
                    <option *ngFor="let reg of regions | keyvalue" [ngValue]="reg.value">{{reg.key}}</option>
                </select>
            </div>
            <!-- <div class="col-md-4">
                <select id="inputlanguage" class="custom-select form-select" (change)="changeLanguage($event)" formControlName="language">
                    <option value="">Year Released</option>
                    <option *ngFor="let item of genres | keyvalue" [ngValue]="item.key">{{item.value}}</option>
                </select>
            </div> -->
        </div>
        <!-- <button type="submit" class="btn btn-danger" (click)="getMovie()"> Generate</button> -->
        <div class="text-center">
            <button type="submit" class="btn btn-danger" (click)="generate()"> Generate</button>
        </div>
    </form>

    <!-- ##### Randomized Movie Card ##### -->
    <div *ngIf="showMovie">
        <div *ngIf="movieItem" class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{getPosterPath()}} class="img-fluid rounded poster" alt={{movieItem.title}}>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
                        <h4 class="card-title">{{movieItem.title}}</h4>
                        <p class="card-text">{{movieItem.overview}}</p>
                        <p class="card-text"><span style="font-weight: bold;">Release Date:</span> {{movieItem.release_date | date: 'mediumDate'}}</p>
                        <p class="card-text"><span style="font-weight: bold;">Rating:</span> {{movieItem.vote_average}}</p>
                        <p class="card-text" style="font-weight: bold;">Genres</p>
                        <ul>
                            <li *ngFor="let item of movieItem.genre_ids">{{genres.get(item)}}</li>
                        </ul>
                        <p class="card-text" style="font-weight: bold;">Where To Watch</p>
                        <div *ngIf="movieProviders" class="providerGroup">
                            <div *ngIf="movieProviders.free">
                                <label>Free</label>
                                <ul class="providers">
                                    <li *ngFor="let obj of movieProviders.free"><img src={{getLogoPath(obj.logo_path)}} alt={{obj.provider_name}} title={{obj.provider_name}} class="rounded"></li>
                                </ul>
                            </div>
                            <div *ngIf="movieProviders.flatrate">
                                <label>Stream</label>
                                <ul class="providers">
                                    <li *ngFor="let obj of movieProviders.flatrate"><img src={{getLogoPath(obj.logo_path)}} alt={{obj.provider_name}} title={{obj.provider_name}} class="rounded"></li>
                                </ul>
                            </div>
                            <div *ngIf="movieProviders.ads">
                                <label>Ads</label>
                                <ul class="providers">
                                    <li *ngFor="let obj of movieProviders.ads"><img src={{getLogoPath(obj.logo_path)}} alt={{obj.provider_name}} title={{obj.provider_name}} class="rounded"></li>
                                </ul>
                            </div>
                            <div *ngIf="movieProviders.rent">
                                <label>Rent</label>
                                <ul class="providers">
                                    <li *ngFor="let obj of movieProviders.rent"> <img src={{getLogoPath(obj.logo_path)}} alt={{obj.provider_name}} title={{obj.provider_name}} class="rounded"> </li>                                
                                </ul>
                            </div>
                            <div *ngIf="movieProviders.buy">
                                <label>Buy</label>
                                <ul class="providers">
                                    <li *ngFor="let obj of movieProviders.buy"> <img src={{getLogoPath(obj.logo_path)}} alt={{obj.provider_name}} title={{obj.provider_name}} class="rounded"> </li>
                                </ul>
                            </div>
                            <p class="card-text"><small> View More Info at <a class="moreinfo" href={{movieProviders.link}} target="_blank">TMDB</a></small></p>
                        </div>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!movieItem">
            <p class="error">No movies were found with those parameters. Please reduce preciseness of filers</p>
        </div>
    </div>
</div>
