ul.providers li{
    display: inline;
    margin-right:10px;
}

ul.providers{
    padding-left: 0;
}

.poster{
    height: 100%;
    width: auto;
}

.btn-close{
    position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}