ul.providers li{
    display: inline;
    margin-right:10px;
}

ul.providers{
    padding-left: 0;
}

.poster{
    height: 100%;
    width: auto;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    
}

.container{
    color: white;
}

.card {
    background: rgba(255, 252, 252, 0.09);
    border: none;
}

.btn-danger{
    background-color: #FFCCD6;
    color:#000;
    width: 200px;
}
.btn-danger:hover{
    background-color: pink;
}

/* .form-control {
    height: auto;
    padding: 15px;
    font-size: 14px;
    color: #222222;
    border-radius: 0;
    background: #FDFDFD;
    border: 1px solid #FFCCD6;
  } */
  
.custom-select {
    height: auto;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
    background-color: #FDFDFD;
    border: 3px solid #FFCCD6;
    margin-bottom: 10px;
}

a.moreinfo{
    color: #FFCCD6;
}

form{
    margin-bottom: 10px;
}

.error{
    text-align: center;
}

h2{
    color: #FFCCD6;
}

.description{
    text-align: center;
    margin-bottom: 15px;
}

