<div class="container">
    <h2>The Inspiration</h2><br>
    <p>Movie Night is one of the most common get-togethers that I have with my friends and family. However, deciding what to watch is like a dark cloud that looms over our heads. 
        We've all been there. Everyone has different tastes and most people I know are equally as indecisive as I am, making deciding what to watch an almost impossible task. That is when I 
        decided to create “Movie Roulette,” the web app that is saving movie night one click at a time. With this app, you can have a movie randomly generated based on predefined parameters 
        that you can feed into the site. Happy Watching!
    </p>
    <hr>
    <p><small>This product uses the TMDB API but is not endorsed or certified by <a href="https://www.themoviedb.org/" target="_blank">TMDB</a>.</small></p>
</div>
