/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

body {
    font-family: 'Muli', sans-serif;
    padding-bottom: 60px;
    background: #292b2c;
}

::selection {
	color: #000000;
	background-color: pink;
}

app-header{
    margin-bottom: 5px;
}